@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --navbar-bg: #27ae60;
  --navbar-brandName: #fff;
  --navbar-brandName-span: #333333;

  --navbar-navLinks: #fff;
  --navbar-navLinks-hover: #fff;

  --navbar-btn-bg: #fff;
  --navbar-btn-text: #27ae60;

  --navbar-btn-bg-login: #fff;
  --navbar-btn-text-login: #27ae60;
}

[data-theme="dark"] {
  --navbar-bg: #333333;
  --navbar-brandName: #fff; 
   --navbar-brandName-span: #27ae60;

   --navbar-navLinks: #27ae60;
   --navbar-navLinks-hover: #27ae60;

   --navbar-btn-bg: #27ae60;
   --navbar-btn-text: #fff;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  scroll-behavior: smooth;
}

/* Style for the scrollbar */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
section {
  height: 100vh;
  margin-top: 1rem;
}
