.navbarComponent {
  background: var(--navbar-bg);
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navbarComponent .brandLogo a {
  display: flex;
  align-items: center;
}
.navbarComponent .brandLogo a img {
  height: 2.5rem;
  width: 2.5rem;
}
.navbarComponent .brandLogo a p {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--navbar-brandName);
}
.navbarComponent .brandLogo a p span {
  color: var(--navbar-brandName-span);
}
.navbarComponent .navbarLinks {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.navbarComponent .navbarLinks a {
  font-size: 1.1rem;
  color: var(--navbar-navLinks);
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
}
.navbarComponent .navbarLinks a span{
  display: none;
}

.navbarComponent .navbarLinks a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--navbar-navLinks);
  transition: width 0.3s ease;
}

.navbarComponent .navbarLinks a:hover::before {
  width: 100%;
}

.navbarComponent .navbarLinks a::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--navbar-navLinks);
  transform: scale(0);
  transition: transform 0.3s;
}
.navbarComponent .navbarLinks a.active::after {
  transform: scale(1.5);
}

.navbarComponent .navbarBtn {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.navbarComponent .navbarBtn .switchBtn {
  background-color: var(--navbar-btn-bg);
  padding: 3px;
  height: 27px;
  width: 27px;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  color: var(--navbar-btn-text);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
.navbarComponent .navbarBtn .switchBtn:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.navbarComponent .navbarBtn a {
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid var(--navbar-btn-border-login);
  color: var(--navbar-btn-text-login);
  background-color: var(--navbar-btn-bg-login);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Button Hover Animation */
.navbarComponent .navbarBtn a:hover {
  background-color: var(--navbar-btn-bg-login--hover);
  color: var(--navbar-btn-text-login-hover);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbarComponent .nav_toggler div {
  width: 2rem;
  height: 0.1rem;
  margin: 0.4rem;
  background: var(--nav-toggler);
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}

.navbarComponent .nav_toggler {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 841px) {
  .navbarComponent {
    background: var(--navbar-bg);
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
  }
  .navbarComponent .navbarLinks {
    display: flex;
    align-items: center;
    gap: 1.1rem;
  }
}
@media screen and (max-width: 817px) {
  .navbarComponent .nav_toggler {
    display: block;
  }
  .navbarLinks {
    position: fixed;
    top: 9vh;
    right: 0;
    width: 50%;
    height: 50vh;
    overflow: auto;
    background: red;
    /* background: var(--navbar-background); */
    flex-direction: column;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    /* padding-left: 8px; */
    /* padding-top: 1rem; */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }
  .navbarComponent .navbarLinks a {
    color: var(--navbar-navLinks);
    font-weight: 500;
    position: relative;
    padding-top: 2rem;
    font-size: 1.3rem;
    transition: color 0.3s;
  }

  .nav_active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 6px);
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    -moz-transform: rotate(-45deg) translate(-4px, 6px);
    -ms-transform: rotate(-45deg) translate(-4px, 6px);
    -o-transform: rotate(-45deg) translate(-4px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-4px, -6px);
    -webkit-transform: rotate(45deg) translate(-4px, -6px);
    -moz-transform: rotate(45deg) translate(-4px, -6px);
    -ms-transform: rotate(45deg) translate(-4px, -6px);
    -o-transform: rotate(45deg) translate(-4px, -6px);
  }
}
