.navbarComponent {
  background: var(--navbar-bg);
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navbarComponent .brandLogo a {
  display: flex;
  align-items: center;
}
.navbarComponent .brandLogo a img {
  height: 2.5rem;
  width: 2.5rem;
}
.navbarComponent .brandLogo a p{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--navbar-brandName);
}
.navbarComponent .brandLogo a p span {
    color: var(--navbar-brandName-span);
}
.navbarComponent .navbarLinks{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.navbarComponent .navbarLinks a{
  font-size: 1.1rem;
  color: var(--navbar-navLinks);
  font-weight: 500;
  position: relative;
  transition: color 0.3s; 

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 2px; 
    background-color: var(--navbar-navLinks); 
    transition: width 0.3s ease; 
  }

  &:hover::before {
    width: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    right: -5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--navbar-navLinks);
    transform: scale(0);
    transition: transform 0.3s; 

  &.active::after {
    transform: scale(1.5); 
  } 
}
}
.navbarComponent .navbarBtn{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.navbarComponent .navbarBtn .switchBtn{
    background-color: var(--navbar-btn-bg);
    padding: 3px;
    height: 27px;
    width: 27px;
    border-radius: 50rem;
    -webkit-border-radius: 50rem;
    -moz-border-radius: 50rem;
    -ms-border-radius: 50rem;
    -o-border-radius: 50rem;
    color: var(--navbar-btn-text);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}